@{
    ViewData["Title"] = "Home Page";
}
@model AsseccoBSWeb.Models.HomeModel

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a simple web application for recruitment task for Assecco Biznes Solutions company.</p>
</div>
<div>

    <a asp-controller="Home" asp-action="GetPaths" class="btn btn-primary">
        Get Paths
    </a>
    <div class="d-flex flex-column p-3">
    <ul class="list-group"> 
    @if(Model.Page != null)
    {
        @foreach (var value in Model.Page)
        {
            <li class="list-group-item"> @value </li>
        }
    }

    </ul>
    </div>
    <div class="d-flex justify-content-center p-3">
     <ul class="pagination">  
        @for (int i =1; i <= Model.PageCount; i++)
        {
            <li class="@(i == Model.CurrentPage ? "page-item active" : "page-item")">  
                <a class="page-link" href="@Url.Action("Index", new { page = i })">@i</a>  
            </li>
        }
    </ul>
    </div>

</div>
